<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/personalAccountBook/.project}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="echo &quot;# barb&quot; &gt;&gt; README.md&#13;&#10;git init&#13;&#10;git add README.md&#13;&#10;git commit -m &quot;first commit&quot;&#13;&#10;git remote add origin https://github.com/lxyPhoenix/barb.git&#13;&#10;git push -u origin master"/>
</launchConfiguration>
